Django==1.7.7
Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.11
Twisted==15.0.0
boto==2.36.0
dj-database-url==0.3.0
ecdsa==0.13
gevent==1.0.1
greenlet==0.4.5
paramiko==1.15.2
psycopg2==2.6
pycrypto==2.6.1
wsgiref==0.1.2
zope.interface==4.1.2
