boto==2.36.0
dj-database-url==0.3.0
Django==1.7.7
django-registration-redux==1.1
ecdsa==0.13
gevent==1.0.1
greenlet==0.4.5
httplib2==0.9
Jinja2==2.7.3
MarkupSafe==0.23
paramiko==1.15.2
Pillow==2.7.0
psycopg2==2.6
py==1.4.26
pycrypto==2.6.1
pytest==2.6.4
PyYAML==3.11
selenium==2.45.0
zope.interface==4.1.2
