{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Chat Room{{ chat.pk }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#newmessage').submit(function(e) {
                var message = $("#messageinput").val();
                $.ajax({
                    'type'     : 'POST',
                    'url'      : '/chat/add/{{chatroom.pk}}/',
                    'data'     : { 'message': message },
                    'dataType' : 'json',
                });
                $("#messageinput").val('');
                $("#messageinput").focus();
                e.preventDefault();
            });
            var testLongPoll = function() {
              return $.ajax({
                type: "POST",
                url: "/chat/test_show/{{chatroom.pk}}/",
                async: true,
                cache: false,
                timeout: 1000000,
                success: function(data) {
                  if (data.messages.length > 0) {
                    $('li').remove(".msg");
                    for (i = 0; i < data.messages.length; i++) { 
                        $("#test_messages").prepend($("<li class='msg'>" + data.messages[i] + "</li>"));
                    }
                  }
                  return testLongPoll();
                },
                dataType: 'json'
              });
            };
            testLongPoll();
        });
    </script>
</head>
<body>
<h1 id='room_title'>{{chatroom}}</h1>
<form id="newmessage">
        <input id="messageinput"></input>
</form>
<div id='test_chat'>
    <ul id='test_messages'>
    </ul>
</div>
<div id='chat_holder'>
    <div id='room_info'>
        </button>
        <h3>Subscribers for this room:</h3>
        {% for sub in subs %}
        <a href="/profile/{{ sub }}">{{sub}}</a></p>
        {% endfor %}
        <br>
        </body>
        {% if user.profile == chatroom.owner %}
            <a href='/chat/delete_room/{{chatroom.pk}}'><button>delete</button></a>
        {% endif %}
    </div>
</div>
{% endblock %}
</html>
