/***************
GENERAL
***************/

body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

html {
    /*background-color: #99a;*/
    background-image: url("grey.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: repeat-x;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: #eee;
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
}

li {
    list-style-type: none;
}

/***************
NAV/FOOTER
***************/

nav {
    display: block;
    background-color:rgba(220, 220, 220, 0.3);
    width: 100%;
    height: 50px;
    margin: 0;
}

#navigation_bar {
    display: table;
    margin: 0 auto;
}

.nav_icon {
    text-shadow: 4px 4px 10px #222;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    display: inline-block;
    font-size: 1.5em;
}

footer {
    width:100%;
    height:50px;
    position:absolute;
    bottom:0;
    left:0;
}

/***************
FRONT PAGE
***************/

.front_page_game {
    overflow-x: scroll;
    float: center;
    width: 10%;
    text-align: center;
    margin: 0;
    color: #fff;
    display: inline-block;
}

.game_image {
    min-width:100%;
    height:575px;
}

#game_holder {
    display: table;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 1100px;
}

.game_text {
    font-size: .7em;
    font-family: 'Lato', sans-serif;
    margin-top: -2px;
}

#chat_window {
    color: black;
    text-align: left;
    padding: 1% 1%;
    margin: 10px 0 60px;
    background-color: #fff;
    background-size: cover;
    box-shadow: inset 0 0 20px
    rgba(0,0,0, .8);
    border-radius: 10px;
    width: 50%;
    height: 300px;
    float: left;
    word-wrap:break-word;
    overflow: scroll;
}

#room_info {
    display: block;
    width: 30%;
    float: right;
    font-size: 1em;
}

#chat_holder {
    margin-left: 30px;
}

#messageinput {
    margin-left: 31px;
    width: 50%;
    height: 30px;
}

#room_title {
    margin-left: 31px;
}

#profile {
    text-align: center;
    font-family: 'Lato', sans-serif;
    float: center;
    font-size: 2.5em;
}

#profile_pic {
    float: right;
}

#profile_info {
    margin-left: 20px;
    text-align: left;
}

#profile_info ul{
    margin-left: 20px;
    text-align: left;
}
