{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
    <title>Game Chat!</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
        <nav>
            <!-- <h4 class='nav_icon'>Imager</h4> -->
            <div id='navigation_bar'>
                <a href="{% url 'home' %}" class='nav_icon'>Home</a>
                {% if user.is_authenticated %}
                <a href="/profile" class='nav_icon'>Profile</a>
                <a href="/calendar/" class='nav_icon'>Calendar</a>
                <a href="/accounts/logout" class='nav_icon'>Logout</a>
                {% else %}
                <a href="/accounts/login" class='nav_icon'>Login</a>
                <a href="/accounts/register" class='nav_icon'>Register</a>
                {% endif %}
                <a href="/profile/profile_list" class='nav_icon'>Profile List</a>
            </div>
        </nav>
        <!-- <hr> -->
    </head>
    <body>
    {% block content %}
    {% endblock %}
    </body>
    <footer>
    </footer>
<html>
