{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id='game_holder'>
    <div class='front_page_game'><img src="/static/smash.jpg" class='game_image'><h3 class="game_text">Super Smash Brothers 4</h3></div>
    <div class='front_page_game'><img src="/static/wow.jpg" class='game_image'><h3 class="game_text">World of Warcraft</h3></div>
    <div class='front_page_game'><img src="/static/lol.jpg" class='game_image'><h3 class="game_text">League of Legends</h3></div>
    <div class='front_page_game'><img src="/static/csgo.jpg" class='game_image'><h3 class="game_text">CS: Global Offensive</h3></div>
    <div class='front_page_game'><img src="/static/destiny.jpg" class='game_image'><h3 class="game_text"><br>Destiny</h3></div>
    <div class='front_page_game'><img src="/static/mine.jpg" class='game_image'><h3 class="game_text"><br>Minecraft</h3></div>
    <div class='front_page_game'><img src="/static/hearth.jpg" class='game_image'><h3 class="game_text"><br>Hearthstone</h3></div>
    <div class='front_page_game'><img src="/static/dota.jpg" class='game_image'><h3 class="game_text"><br>Dota 2</h3></div>
    <div class='front_page_game'><img src="/static/diablo.jpg" class='game_image'><h3 class="game_text"><br>Diablo 3</h3></div>
    <div class='front_page_game'><img src="/static/dnd.jpg" class='game_image'><h3 class="game_text"><br>Local Gaming</h3></div>
</div>
{% endblock %}
