{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id='game_holder'>
    <div class='front_page_game'><img src="/static/smash.jpg" class='game_image'><h3 class="game_text"><a href="/chat/ssb">Super Smash Brothers 4</a></h3></div>

    <div class='front_page_game'><img src="/static/wow.jpg" class='game_image'><h3 class="game_text"><a href="/chat/wow">World of Warcraft</a></h3></div>

    <div class='front_page_game'><img src="/static/lol.jpg" class='game_image'><h3 class="game_text"><a href="/chat/lol">League of Legends</a></h3></div>

    <div class='front_page_game'><img src="/static/csgo.jpg" class='game_image'><h3 class="game_text"><a href="/chat/cs">CS: Global Offensive</a></h3></div>

    <div class='front_page_game'><img src="/static/destiny.jpg" class='game_image'><h3 class="game_text"><a href="/chat/destiny"><br>Destiny</a></h3></div>

    <div class='front_page_game'><img src="/static/mine.jpg" class='game_image'><h3 class="game_text"><a href="/chat/mine"><br>Minecraft</a></h3></div>

    <div class='front_page_game'><img src="/static/hearth.jpg" class='game_image'><h3 class="game_text"><a href="/chat/hearth"><br>Hearthstone</a></h3></div>

    <div class='front_page_game'><img src="/static/dota.jpg" class='game_image'><h3 class="game_text"><a href="/chat/dota"><br>Dota 2</a></h3></div>

    <div class='front_page_game'><img src="/static/diablo.jpg" class='game_image'><h3 class="game_text"><a href="/chat/diablo"><br>Diablo 3</a></h3></div>

    <div class='front_page_game'><img src="/static/dnd.jpg" class='game_image'><h3 class="game_text"><a href="/chat/local"><br>Local Gaming</a></h3></div>
</div>
{% endblock %}
