{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<link rel='stylesheet' href="{% static 'fullcalendar.css' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.js'></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

    $('#calendar').fullCalendar({
        events:"/calendar/event_feed/",
        eventClick: function(calEvent){
            window.location.replace("/calendar/event_detail/"+calEvent.pk);
            },
    })
});
</script>

<a href="/calendar/create_event/">Event</a>
<div id='calendar'></div>

{% endblock %}

<a href="/calendar/create_event/"></a>
<button onclick="/calendar/create_event/">Create Event</button>